#
	
config  ASYNC_RX_WRAPPER_USE_MALLOC
	bool   "use malloc in async rx driver"
	default y

	
config  ASYNC_RX_WRAPPER_RX_BUFFER_SIZE
	int   "rx buffer size"
	depends on !ASYNC_RX_WRAPPER_USE_MALLOC
	default 32
