menu "`--->  Tavor configurations"


choice
	prompt "Tavor flavors"
	default TAVOR_DEFAULT

config TAVOR_DEFAULT
	bool "tavor default"
	select TAVOR_256K_SRAM
	select TAVOR_32MB_DDR

config TAVOR_VELOCE
	bool "tavor veloce"
	select TAVOR_256K_SRAM
	select TAVOR_2MB_DDR

endchoice


#=======
config TAVOR_ADDITIONAL_OPTIONS
	def_bool n
	select CORTEX_A35 
	
config TAVOR_256K_SRAM
	def_bool n

config TAVOR_2MB_DDR
	def_bool n

config TAVOR_32MB_DDR
	def_bool n

endmenu

	