#

source "$COMMON_DIR_PATH/c/sw_packages/core/Kconfig"

source "$COMMON_DIR_PATH/c/sw_packages/application_framework/Kconfig"

source "$COMMON_DIR_PATH/c/sw_packages/ancillary/Kconfig"

source "$COMMON_DIR_PATH/c/sw_packages/management/Kconfig"

source "$COMMON_DIR_PATH/c/sw_packages/utilities/Kconfig"

source "$COMMON_DIR_PATH/c/sw_packages/storage/Kconfig"

source "$COMMON_DIR_PATH/c/sw_packages/dsp/Kconfig"

source "$COMMON_DIR_PATH/c/sw_packages/net/Kconfig"

source "$COMMON_DIR_PATH/c/sw_packages/staging/Kconfig"
