#
	
menu "`--->  NAU83GXX configurations"

config NAU83GXX_ENABLE_SHELL_COMMANDS
	bool "enable NAU83GXX shell commands"
	default n

config NAU83GXX_USE_KCS_REMOTE_INTERFACE
	bool "use KCS remote interface"
	default n

config NAU83GXX_USE_KCS_REMOTE_INTERFACE_GIT_COMMIT_HASH
	string "KCS remote interface git commit hash"
    depends on NAU83GXX_USE_KCS_REMOTE_INTERFACE
	default ""


endmenu
