#
	
config INCLUDE_2X1_MIXER
	bool   "mixer 2 inputs 1 outputs"
	default n

config INCLUDE_3X1_MIXER
	bool   "mixer 3 inputs 1 outputs"
	default n


config MIXER_IS_SPEED_CRITICAL
	bool   "mixer is speed critical"
	depends on INCLUDE_MIXER
	default y
