menu "`--->  I94XXX configurations"


config I94XXX_BSP_VERSION
	string "nuc bsp version in form : xx.xx[.xx]"
	default "00.01"

endmenu

=======
config I94XXX
	def_bool y
	select CORTEX_M4 
	select SOC_HAS_DSP

	