menu "I94XXX soc configuration"


config I94XXX_BSP_VERSION
    string "nuc bsp version in form : xx.xx[.xx]"
    default "00.01"


comment "number of external interrupts : 68"
config DT_NUMBER_OF_EXTERNAL_INTERRUPTS
    int
    default 68

endmenu
