menu "`---> freeRTOS configurations"

if !USE_ONLY_OS_API

config HEAP_SIZE
	int   "heap size"
	default 10240

config TEST_TASK_STACK
	bool   "add stack logs for tasks"
	default y

config FREERTOS_USE_COUNTING_SEMAPHORES
	bool   "use counting semaphores"
	default y

endif

config FREERTOS_GIT_COMMIT_HASH
	string "FreeRTOS git commit hash"
	default ""

endmenu
