choice
	prompt "Compiler"
	default GCC

config GCC
	bool "gcc"

config GPP
    bool "g++"

config ARMCC
	bool "armcc"

endchoice


if GCC || GPP
source "$COMMON_DIR_PATH/c/build_tools/makefiles/gcc/Kconfig"
endif

menuconfig INCLUDE_TOOLCHAIN_LIBRARIES
	bool   "tool chain libraries"
	default y
	
config TOOLCHAIN_LIBRARIES_ARE_SPEED_CRUCIAL
	bool   "tool chain libraries are speed crucial"
	depends on INCLUDE_TOOLCHAIN_LIBRARIES
	default n	




    
config INCLUDE_FPU
	bool   "fpu"
	depends on CORTEX_M4
	default n

choice
	prompt "Optimisation Level"
	default OPTIMISE_NONE

config OPTIMISE_NONE
	bool "-O0 : No Optimisations"

config OPTIMISE_WITH_DEBUG
	bool "-Og  : Optimise without loss in debug info "
	depends on GCC || GPP

config OPTIMISE_SIZE
    bool "-Os : Optimise for size "

config OPTIMISE_SPEED
	bool "-O2 : Optimise for speed "

config OPTIMISE_ULTRA_SPEED
	bool "-O3 : Optimise for ultra-speed but can increase code-size "

endchoice


config USED_FOR_SEMIHOSTING_UPLOADING
	bool   "used for semihosting uploading"
	default n
