

choice
	prompt "SOC"
	default GENERIC_ARM_SOC

config NUC505
	bool "nuc505"
	select PUBLIC_SOC_SELECTED
	select CORTEX_M4
	select SOC_HAS_DSP
	select INTERNAL_FLASH_EXISTS
	select INTERNAL_SRAM_EXISTS

config POLEG
	bool "poleg"
	select PUBLIC_SOC_SELECTED

config ARBEL
	bool "arbel"
	select PUBLIC_SOC_SELECTED
	select ARBEL_ADDITIONAL_OPTIONS
	select INTERNAL_SRAM_EXISTS
	select DDR_EXISTS

config STM32F103XXX
	bool "stm32f103xxx"
	select PUBLIC_SOC_SELECTED
	select STM32F103XXX_ADDITIONAL_OPTIONS
	select INTERNAL_FLASH_EXISTS
	select INTERNAL_SRAM_EXISTS
	select STM32F10X

config I94XXX
	bool "I94XXX"
	select PUBLIC_SOC_SELECTED
	select CORTEX_M4
	select SOC_HAS_DSP
	select INTERNAL_FLASH_EXISTS
	select INTERNAL_SRAM_EXISTS

config I96XXX_M0
	bool "I96XXX_M0"
	select PUBLIC_SOC_SELECTED
	select CORTEX_M0
	select EXTERNAL_FLASH_EXISTS
	select INTERNAL_SRAM_EXISTS

config GENERIC_ARM_SOC
	bool "generic SOC"
	select PUBLIC_SOC_SELECTED

config PRIVATE_ARM_SOC
	bool "private SOC"

endchoice

config CORTEX_M4
    bool
    default n

config CORTEX_M3
    bool
    default n

config CORTEX_M0
    bool
    default n

config CORTEX_A9
    bool
    default n

config CORTEX_A35
    bool
    default n

config ARM_926EJ_S
    bool
    default n

config SOC_HAS_DSP
    bool
    default n


if I94XXX
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/ARM/soc/i94xxx/Kconfig"
endif

if I96XXX_M0
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/ARM/soc/i96xxx_M0/Kconfig"
endif

if STM32F103XXX
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/ARM/soc/stm32/stm32f103xxx/Kconfig"
config STM32F10X
	def_bool n
endif

if NUC505
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/ARM/soc/nuc505/Kconfig"
endif

if POLEG
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/ARM/soc/poleg/Kconfig"
endif

if ARBEL
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/ARM/soc/arbel/Kconfig"
endif

if GENERIC_ARM_SOC
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/ARM/soc/generic_board/Kconfig"
endif
