

choice
	prompt "SOC"
	default GENERIC_SOC

config NUC505
	bool "nuc505"
	select PUBLIC_SOC_SELECTED

config POLEG
	bool "poleg"
	select PUBLIC_SOC_SELECTED

config STM32F103RC
	bool "stm32f103rc"
	select PUBLIC_SOC_SELECTED

config I94XXX
	bool "I94XXX"
	select PUBLIC_SOC_SELECTED

config GENERIC_SOC
	bool "generic SOC"
	select PUBLIC_SOC_SELECTED

config PRIVATE_ARM_SOC
	bool "private SOC"

endchoice

config CORTEX_M4
    bool
    default n

config CORTEX_M3
    bool
    default n

config CORTEX_A9
    bool
    default n

config ARM_926EJ_S
    bool
    default n

config SOC_HAS_DSP
    bool
    default n

if I94XXX
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/ARM/soc/i94xxx/Kconfig"
endif

if STM32F103RC
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/ARM/soc/stm32/stm32f103rc/Kconfig"
endif

if NUC505
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/ARM/soc/nuc505/Kconfig"
endif

if POLEG
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/ARM/soc/poleg/Kconfig"
endif

if GENERIC_SOC
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/ARM/soc/generic_board/Kconfig"
endif
