#

menu "net"

menuconfig INCLUDE_CURL
	bool   "curl"
	default n

if INCLUDE_CURL
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/net/curl/Kconfig"
endif

menuconfig INCLUDE_OPENSSL
	bool   "OpenSSL"
	default n

if INCLUDE_OPENSSL
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/net/openssl_git/Kconfig"
endif

menuconfig INCLUDE_WOLFSSL
	bool   "wolfSSL"
	default n

if INCLUDE_WOLFSSL
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/net/wolfssl/Kconfig"
endif

menuconfig INCLUDE_NGHTTP2
	bool   "nghttp2"
	default n

if INCLUDE_NGHTTP2
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/net/nghttp2_git/Kconfig"
endif


config  CURL_CUSTOM_SOCKET_LAYER
	bool   "custom socket layer"
	default n


endmenu
