#

menu "net"

menuconfig INCLUDE_CURL
	bool   "curl"
	default n
if INCLUDE_CURL
source "$CURL_GIT_DIR/Kconfig"
endif

menuconfig INCLUDE_OPENSSL
	bool   "OpenSSL"
	default n
if INCLUDE_OPENSSL
source "$OPENSSL_GIT_DIR/Kconfig"
endif

menuconfig INCLUDE_WOLFSSL
	bool   "wolfSSL"
	default n
if INCLUDE_WOLFSSL
source "$WOLFSSL_GIT_DIR/Kconfig"
endif

menuconfig INCLUDE_NGHTTP2
	bool   "nghttp2"
	default n
if INCLUDE_NGHTTP2
source "$NGHTTP2_GIT_DIR/Kconfig"
endif


config  USE_INTERNAL_STD_NET_FUNCTION_IMPLEMENTATION
	bool   "use internal standard net function implementation"
	default n


endmenu
