#

menu "core"

menuconfig INCLUDE_AUTO_INIT
	bool  "include auto init"
	default n

config INCLUDE_ONLY_AUTO_INIT_API
	bool   "include only auto init api"
	depends on INCLUDE_AUTO_INIT
	default n
	---help---
		If you dont want to compile the sources but only use API such as
		auto init macros.
		If now you are creating the library, implementation should exist in
		other library or in base application.
		If now you are creating application, implementation should exist in
		some library.

menuconfig INCLUDE_ERROR_HANDLING
	bool  "include error handling"
	default n

config INCLUDE_ONLY_ERROR_HANDLING_API
	bool   "include only error handling api"
	depends on INCLUDE_ERROR_HANDLING
	default n
	---help---
		If now you are creating the library, implementation should exist in
		other library or in base application.
		If now you are creating application, implementation should exist in
		some library.

menuconfig INCLUDE_DEV_MENAGMENT
	bool  "include devices manager"
	default n

if INCLUDE_DEV_MENAGMENT
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/core/dev_management/Kconfig"
endif

config INCLUDE_VERSION_MENAGMENT
	bool   "version management"
	select INCLUDE_DEV_MENAGMENT
	default y

menuconfig INCLUDE_HEARTBEAT
	bool   "heartbeat routines"
	depends on !GCC_TARGET_OS_LINUX && !HOST
	default n

if INCLUDE_HEARTBEAT
config HEARTBEAT_IS_SPEED_CRITICAL
	bool   "hearbeat routines are speed critical"
	default n
endif


menu "OS"
depends on !ANDROID_NDK
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/core/os_wrapper/Kconfig"


endmenu	


endmenu
