#

menu "core"

menuconfig INCLUDE_DEV_MENAGMENT
	bool  "include devices manager"
	default n

if INCLUDE_DEV_MENAGMENT
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/core/dev_management/Kconfig"
endif

config INCLUDE_VERSION_MENAGMENT
	bool   "version management"
	select INCLUDE_DEV_MENAGMENT
	default y

menuconfig INCLUDE_HEARTBEAT
	bool   "heartbeat routines"
	depends on !GCC_TARGET_OS_LINUX && !HOST
	default n

if INCLUDE_HEARTBEAT
config HEARTBEAT_IS_SPEED_CRITICAL
	bool   "hearbeat routines are speed critical"
	default n
endif


menu "RT OS"
depends on !GCC_TARGET_OS_LINUX && !HOST && !ANDROID_NDK
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/core/os_wrapper/Kconfig"


endmenu	


endmenu
