

choice
	prompt "SOC"
	default GENERIC_SOC

config NUC505
	bool "nuc505"

config POLEG
	bool "poleg"

config STM32F10x
	bool "stm32f10x"

config GENERIC_SOC
	bool "generic SOC"

endchoice

config CORTEX_M4
    bool
    default n

config CORTEX_M3
    bool
    default n

config CORTEX_A9
    bool
    default n

config ARM_926EJ_S
    bool
    default n

if NUC505
source "$COMMON_DIR_PATH/c/hw_drivers/arch/ARM/boards/nuc505/Kconfig"
endif

if POLEG
source "$COMMON_DIR_PATH/c/hw_drivers/arch/ARM/boards/poleg/Kconfig"
endif

if GENERIC_SOC
source "$COMMON_DIR_PATH/c/hw_drivers/arch/ARM/boards/generic_board/Kconfig"
endif
