#
	
config  SW_UART_WRAPPER_MAX_QUEUE_LEN
	int   "internal queue length"
	default 10

config  SW_UART_WRAPPER_USE_MALLOC
	bool   "use malloc"
	default y

config  SW_UART_WRAPPER_MAX_TX_BUFFER_SIZE
	int   "tx buffer size"
	default 255
	depends on !SW_UART_WRAPPER_USE_MALLOC
	
config  SW_UART_WRAPPER_ENABLE_RX
	bool   "rx enable"
	default y
	
config  SW_UART_WRAPPER_RX_BUFFER_SIZE
	int   "rx buffer size"
	depends on SW_UART_WRAPPER_ENABLE_RX && !SW_UART_WRAPPER_USE_MALLOC
	default 32
	
config  SW_UART_WRAPPER_USE_RUNTIME_CONFIGURATION
	bool   "use runtime configuration for uart wrapper"
	default n
