

choice
	prompt "SOC"
	default XTENSA_SIM

config ESP8266
	bool "ESP8266"
	select XTENSA_LX6
	select PUBLIC_SOC_SELECTED

config XTENSA_SIM
	bool "simulator"
	select PUBLIC_SOC_SELECTED

config XTENSA_FPGA_SIM
	bool "fpga simulator"
	select PUBLIC_SOC_SELECTED

config I96XXX_HIFI3
	bool "i96xxx hifi3"
	select PUBLIC_SOC_SELECTED
	select XTENSA_HIFI3_NTCA

config NPCP415
	bool "npcp415"
	select PUBLIC_SOC_SELECTED
	select XTENSA_FUSIONF1_P7_G60_NTCA

endchoice

if XTENSA_SIM || XTENSA_FPGA_SIM

choice
	prompt "Xtensa core configuration"
	default XTENSA_LX6_

config XTENSA_LX6_
	bool "lx6"
	select XTENSA_LX6

config XTENSA_LX7_
	bool "lx7"
	select XTENSA_LX7

config XTENSA_FUSIONF1_XRC_ALL_CACHE
	bool "XRC_FusionF1_All_cache"

endchoice

endif

config XTENSA_APP_DEPENDENT_CONFIG
	bool "use application dependant xtensa config"
	default n

if XTENSA_APP_DEPENDENT_CONFIG

config XTENSA_CORE_CONFIG
    string "core configuration name"
    default ""

config XTENSA_MEMMAP_CONFIG
    string "memmap configuration name. leave empty if none"
    default ""

endif

if ESP8266
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/XTENSA/soc/esp8266/Kconfig"
endif

if XTENSA_SIM
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/XTENSA/soc/sim/Kconfig"
endif

if XTENSA_FPGA_SIM
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/XTENSA/soc/fpga_sim/Kconfig"
endif

if I96XXX_HIFI3
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/XTENSA/soc/i96xxx_HiFi3/Kconfig"
endif

if NPCP415
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/XTENSA/soc/npcp415/Kconfig"
endif


config XTENSA_MAIN_STACK_SIZE_BYTES
	int   "initial and interrupt stack size (in bytes)"
	depends on XTENSA
	default 1024


config XTENSA_LX6
	bool
	
config XTENSA_LX7
	bool
	
config XTENSA_HIFI3_BD5
	bool
