

choice
	prompt "SOC"
	default XTENSA_SIM

config ESP8266
	bool "ESP8266"
	select XTENSA_LX6
	select PUBLIC_SOC_SELECTED

config XTENSA_SIM
	bool "simulator"
	select PUBLIC_SOC_SELECTED

config XTENSA_FPGA_SIM
	bool "fpga simulator"
	select PUBLIC_SOC_SELECTED

config I96XXX_HIFI3
	bool "i96xxx hifi3"
	select PUBLIC_SOC_SELECTED

config NPCP415
	bool "npcp415"
	select PUBLIC_SOC_SELECTED

endchoice

if XTENSA_SIM || XTENSA_FPGA_SIM

choice
	prompt "Xtensa core configuration"
	default XTENSA_LX6_

config XTENSA_LX6_
	bool "lx6"
	select XTENSA_LX6

config XTENSA_LX7_
	bool "lx7"
	select XTENSA_LX7

config XTENSA_HIFI3_BD5_
	bool "hifi3_bd5"
	select XTENSA_HIFI3_BD5

config XTENSA_FUSIONF1_FPGA_2
	bool "FusionF1_FPGA_2"
	depends on XCC_TOOLS_VER_2017_7

config XTENSA_HIFI3_NTCA
	bool "hifi3_ntca"
	depends on XCC_TOOLS_VER_RI_2018_0

config XTENSA_FUSIONF1_P7_G60_NTCA
	bool "FusionF1_G60"
	depends on XCC_TOOLS_VER_RI_2021_6

config XTENSA_FUSIONF1_I256K_D192K_NTCA
	bool "FusionF1_i256K_d192K"
	depends on CLANG_TOOLS_VER_RI_2022_10

config XTENSA_FUSIONF1_XRC_ALL_CACHE
	bool "XRC_FusionF1_All_cache"
	depends on CLANG_TOOLS_VER_RI_2022_9

endchoice

endif

if ESP8266
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/XTENSA/soc/esp8266/Kconfig"
endif

if XTENSA_SIM
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/XTENSA/soc/sim/Kconfig"
endif

if XTENSA_FPGA_SIM
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/XTENSA/soc/fpga_sim/Kconfig"
endif

if I96XXX_HIFI3
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/XTENSA/soc/i96xxx_HiFi3/Kconfig"
endif


config XTENSA_MAIN_STACK_SIZE_BYTES
	int   "initial and interrupt stack size (in bytes)"
	depends on XTENSA
	default 1024


config XTENSA_LX6
	bool
	
config XTENSA_LX7
	bool
	
config XTENSA_HIFI3_BD5
	bool
