#
	
config  ASYNC_TX_WRAPPER_MAX_QUEUE_LEN
	int   "internal queue length"
	default 10

config  ASYNC_TX_WRAPPER_USE_MALLOC
	bool   "use malloc async tx driver"
	default y

config  ASYNC_TX_WRAPPER_MAX_TX_BUFFER_SIZE
	int   "maximal allowed tx buffer size"
	default 255
	depends on !ASYNC_TX_WRAPPER_USE_MALLOC
