menu "`--->  generic basic configurations"

choice
	prompt "Cpu Type"
	default CPU_UNDEFINED

config GENERIC_CORTEX_M3
	bool "cortex-M3"
	select CORTEX_M3

config GENERIC_CORTEX_M4
	bool "cortex-M4"
	select CORTEX_M4

config GENERIC_CORTEX_A9
    bool "cortex-A9"
	select CORTEX_A9

config GENERIC_ARM_926EJ_S
	bool "arm926ej-s"
	select ARM_926EJ_S

config CPU_UNKNOWN
	bool "unknown cpu"

endchoice


endmenu
