#

config PROJECT_NAME
    string "Project Name"
    default ""
    
choice
	prompt "Architecture"
	default HOST

config ARM
	bool "arm"

config PIC32
	bool "pic32"

config STM8
	bool "stm8"

config AVR
	bool "avr"

config HOST
	bool "host"

endchoice


source "$COMMON_DIR_PATH/c/build_tools/makefiles/Kconfig"
	   	
if !HOST
source "$COMMON_DIR_PATH/c/hw_drivers/arch/Kconfig"
endif

menu "Hardware Drivers"
source "$COMMON_DIR_PATH/c/hw_drivers/Kconfig"
endmenu


menu "Software Packages"
source "$COMMON_DIR_PATH/c/sw_packages/Kconfig"
endmenu

menu "Private Packages"
source "$COMMON_DIR_PATH/../common_private/Kconfig"
endmenu

config CPU_CALCULATE_CRC32
	bool   "calculate crc32 of output binary"
	default n

    		