menu "`---> nuc505 evaluation board"


config CRYSTAL_CLOCK
    int "crystal clock in Hz"
    default 12000000 
    
    
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/ARM/soc/nuc505/Kconfig.soc505.dt"


endmenu
