menu "`--->  nuc505 board configurations"

choice
	prompt "Board"
	default NUC505_EB

config NUC505_EB
	bool "nuc505 evaluation board"

endchoice

if NUC505_EB
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/ARM/soc/nuc505/Kconfig.eb505.dt"
endif



endmenu

=======
config NUC505_BOARD
	def_bool y
	select INTERNAL_SRAM 
	select INTERNAL_FLASH 
	select CORTEX_M4 
	select SOC_HAS_DSP
