#

menu "ancillary"

menuconfig INTERNAL_FILE_DESCRIPTORS_MANAGER 
	bool   "internal file descriptor manager"
	default n
if INTERNAL_FILE_DESCRIPTORS_MANAGER
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/ancillary/file_descriptors_manager/Kconfig"
endif


config INCLUDE_LINUX_TIMER
	bool   "linux timer"
	depends on HOST
	default n


menuconfig INCLUDE_ASYNC_TX_WRAPPER
	bool   "async tx wrapper"
	depends on (INCLUDE_INTERNAL_UART || INCLUDE_USB_VIRTUAL_COM || \
				INCLUDE_WIRELESS_UART || INCLUDE_SEMIHOSTING || \
				INCLUDE_LINUX_UART)
	default n

if INCLUDE_ASYNC_TX_WRAPPER
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/ancillary/async_tx_wrapper/Kconfig"
endif

menuconfig INCLUDE_ASYNC_RX_WRAPPER
	bool   "async rx wrapper"
	depends on (INCLUDE_INTERNAL_UART || INCLUDE_USB_VIRTUAL_COM || \
				INCLUDE_WIRELESS_UART || INCLUDE_SEMIHOSTING || \
				INCLUDE_LINUX_UART)
	default n

if INCLUDE_ASYNC_RX_WRAPPER
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/ancillary/async_rx_wrapper/Kconfig"
endif

config INCLUDE_TIMER_WRAPPER
	bool   "timer wrapper"
	depends on INCLUDE_HW_TIMER || INCLUDE_LINUX_TIMER
	default n


config INCLUDE_SW_GPIO_WRAPPER
	bool   "sw gpio wrapper"
	depends on INCLUDE_INTERNAL_GPIO
	default n

	
config INCLUDE_BUTTON_MANAGER
	bool   "button manager"
	depends on INCLUDE_SW_GPIO_WRAPPER || INCLUDE_INTERNAL_GPIO
	default n

menuconfig INCLUDE_MEMORY_POOL
	bool   "memory pool"
	default n

config MEMORY_POOL_IS_SPEED_CRITICAL 
	bool   "memory pool is speed critical"
	depends on INCLUDE_MEMORY_POOL
	default n
	
	
endmenu
