menu "Microsoft compiler options"

if OUTPUT_TYPE_APPLICATION && (!JUCE_VST_PLUGIN)

choice
	prompt "output type"
	default MSVC_OUTPUT_TYPE_CONSOLE_APPLICATION

config MSVC_OUTPUT_TYPE_WINDOWS_APPLICATION
	bool "windows application"

config MSVC_OUTPUT_TYPE_CONSOLE_APPLICATION
	bool "console application"

endchoice

endif ## from "if OUTPUT_TYPE_APPLICATION"


choice
	prompt "compiler location"
	default MSVC_COMPILER_LOCATION_WINDOWS_DEFAULT

config MSVC_COMPILER_LOCATION_WINDOWS_DEFAULT
	bool "microsoft compiler located in windows default location"

config MSVC_COMPILER_LOCATION_WORKSPACE_TOOLS_DIRECTORY
    bool "microsoft compiler located in workspace tool directory"
endchoice



choice
	prompt "compiler arch"
	default MSC_TARGET_ARCH_X86

config MSC_TARGET_ARCH_X86
	bool "x86_32"

config MSC_TARGET_ARCH_X64
	bool "x86_64"
endchoice

 
choice
	prompt "Optimisation Level"
	default MSVC_OPTIMISE_NONE

config MSVC_OPTIMISE_NONE
	bool "/Od : No Optimisations (Debug)"

config MSVC_OPTIMISE_SIZE
    bool "/O1 : Optimise for size "

config MSVC_OPTIMISE_SPEED
	bool "/O2 : Optimise for speed "

config MSVC_OPTIMISE_FULL
	bool "/Ox : full optimization "

endchoice

choice
	prompt "crt libraries usage"
	default MSVC_CRT_LIBRARIES_LINKED_DINAMICALLY

config MSVC_CRT_LIBRARIES_LINKED_DINAMICALLY
	bool "crt libraries linked dynamically /MD"

config MSVC_CRT_LIBRARIES_LINKED_STATICALLY
	bool "crt libraries linked statically /MT"
endchoice

config USE_WINDOWS_KITS
    bool "use windows kit (WDK)"
    default y


menuconfig MSVC_IGNORE_DEFAULT_LIBRARIES
    bool "ignore default libraries"

config MSVC_IGNORE_ALL_DEFAULT_LIBRARIES
    bool "ignore all default libraries"
    depends on MSVC_IGNORE_DEFAULT_LIBRARIES

config MSVC_IGNORE_LIBCMT_LIBRARY
    bool "ignore libcmt.lib"
    depends on MSVC_IGNORE_DEFAULT_LIBRARIES && !MSVC_IGNORE_ALL_DEFAULT_LIBRARIES

config MSVC_IGNORE_MSVCRT_LIBRARY
    bool "ignore msvcrt.lib"
    depends on MSVC_IGNORE_DEFAULT_LIBRARIES && !MSVC_IGNORE_ALL_DEFAULT_LIBRARIES

endmenu
