menu "nuc505 basic configurations"

choice
	prompt "Board"
	default NUC505_EB

config NUC505_EB
	bool "nuc505 evaluation board"

endchoice

if NUC505_EB
source "$COMMON_DIR_PATH/c/hw_drivers/arch/ARM/boards/nuc505/Kconfig.eb505.dt"
endif



choice
	prompt "initial code location"
	default CODE_LOCATION_FLASH

config CODE_LOCATION_FLASH
	bool "flash"

config CODE_LOCATION_RAM
	bool "ram"

endchoice

config CONFIG_CODE_LOCATION
	bool   "put cpu specific files in ram to improve speed"
	default n

endmenu


