menu "`--->  nuc505 board configurations"

choice
	prompt "Board"
	default NUC505_EB

config NUC505_EB
	bool "nuc505 evaluation board"

endchoice

if NUC505_EB
source "$COMMON_DIR_PATH/c/hw_drivers/arch/ARM/boards/nuc505/Kconfig.eb505.dt"
endif



endmenu

=======
config NUC505_BOARD
	def_bool y
	select INTERNAL_SRAM 
	select INTERNAL_FLASH 
	
config CORTEX_M4
	def_bool y
