#
	
if NUC505
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/I2S/I2S_nuc505/Kconfig"
endif

config INTERNAL_I2S_SPEED_CRITICAL
	bool   "internal i2s is speed critical"
	depends on INCLUDE_INTERNAL_I2S
	default y
