#

choice
	prompt "juce project type"
	depends on INCLUDE_JUCE
	default JUCE_STANDALONE_APPLICATION

config JUCE_STANDALONE_APPLICATION
	bool "standalone application"

config JUCE_VST_PLUGIN
    bool "vst plugin"

endchoice

config USE_SAVI_HOST_VST_PLUGIN_TESTER
    bool "use saviHost vst plugin tester"
	depends on JUCE_VST_PLUGIN
	default n


config JUCE_GIT_COMMIT_HASH
	string "juce git commit hash"
	depends on INCLUDE_JUCE
	default ""
