#

config PROJECT_NAME
	string "Project Name"
	default ""

menuconfig PROJECT_IS_PART_OF_BUNDLE
	bool "this project is part of bundle"
	default n

config NAME_SUFFIX_IN_BUNDLE
	string "Project Name Suffix"
	depends on PROJECT_IS_PART_OF_BUNDLE
	default ""

menuconfig OUTPUT_NAME_CHOOSEN_AUTOMATICALLY
	bool "name of final output is choosen automatically"
	default y

config REDEFINED_OUTPUT_NAME
	string "name of final output"
	depends on !OUTPUT_NAME_CHOOSEN_AUTOMATICALLY
	default "out"

source "$KCONFIG_PUBLIC_START_DIR/soc/Kconfig"

menuconfig USE_COMMON_PRIVATE_PACKAGES
	bool   "use common private packages"
	default n

if 	USE_COMMON_PRIVATE_PACKAGES
source "$KCONFIG_PUBLIC_START_DIR/../../common_private/Kconfig"
config COMMON_PRIVATE_GIT_COMMIT_HASH
	string "common private git commit hash"
	default ""
endif


config COMMON_PUBLIC_GIT_COMMIT_HASH
	string "common public git commit hash"
	default ""
