#
	
###################  DSP menu ####################
menu "DSP"

config INCLUDE_COMMON_DSP
	bool   "common dsp"
	default n

if INCLUDE_COMMON_DSP


config COMMON_DSP_IS_SPEED_CRITICAL
	bool   "common dsp is speed critical"
	default y

menuconfig INCLUDE_BIQUAD_FILTER
	bool   "biquad_filter"
	default n

config BIQUAD_FILTER_IS_SPEED_CRITICAL
	bool   "biquad_filter is speed critical"
	depends on INCLUDE_BIQUAD_FILTER
	default y


menuconfig INCLUDE_FIR_FILTER
	bool   "fir_filter"
	default n

config FIR_FILTER_IS_SPEED_CRITICAL
	bool   "fir_filter is speed critical"
	depends on INCLUDE_FIR_FILTER
	default y

menuconfig INCLUDE_UPSAMPLING_BY_INT
	bool   "upsampling by integer"
	default n

config UPSAMPLING_BY_INT_IS_SPEED_CRITICAL
	bool   "upsampling by integer is speed critical"
	depends on INCLUDE_UPSAMPLING_BY_INT
	default y

menuconfig INCLUDE_DOWNSAMPLING_BY_INT
	bool   "downsampling by integer"
	default n

config DOWNSAMPLING_BY_INT_IS_SPEED_CRITICAL
	bool   "downsampling by integer is speed critical"
	depends on INCLUDE_DOWNSAMPLING_BY_INT
	default y


menuconfig INCLUDE_MIXER
	bool   "mixer"
	default n

if INCLUDE_MIXER
source "$COMMON_DIR_PATH/c/sw_packages/dsp/mixer/Kconfig"
endif

menuconfig INCLUDE_MULTIPLIER
	bool   "multiplier"
	default n

if INCLUDE_MULTIPLIER
source "$COMMON_DIR_PATH/c/sw_packages/dsp/multiplier/Kconfig"
endif

menuconfig INCLUDE_I2S_SPLITTER
	bool   "i2s splitter"
	default n


config I2S_SPLITTER_IS_SPEED_CRITICAL
	bool   "i2s splitter is speed critical"
	depends on INCLUDE_I2S_SPLITTER
	default y


menuconfig INCLUDE_I2S_MIXER
	bool   "i2s mixer"
	default n

config I2S_MIXER_IS_SPEED_CRITICAL
	bool   "i2s mixer is speed critical"
	depends on INCLUDE_I2S_MIXER
	default y


 
menuconfig INCLUDE_VOICE_3D
	bool   "voice 3D effect"
	default n

config VOICE_3D_IS_SPEED_CRITICAL
	bool   "voice 3D effect is speed critical"
	depends on INCLUDE_VOICE_3D
	default y


menuconfig INCLUDE_COMPRESSOR
	bool   "audio compressor"
	default n

if INCLUDE_COMPRESSOR
source "$COMMON_DIR_PATH/c/sw_packages/dsp/compressor/Kconfig"
endif


menuconfig INCLUDE_NOISE_GATE
	bool   "noise gate"
	default n

config NOISE_GATE_IS_SPEED_CRITICAL
	bool   "noise gate effect is speed critical"
	depends on INCLUDE_NOISE_GATE
	default y







menu "staging"


menuconfig INCLUDE_FFMPEG
	bool   "ffmpeg"
	default n
	
config INCLUDE_FFMPEG_IS_SPEED_CRITICAL
	bool   "ffmpeg is speed critical"
	depends on INCLUDE_FFMPEG
	default y

menuconfig INCLUDE_FFT
	bool   "fft"
	default n

config FFT_IS_SPEED_CRITICAL
	bool   "fft is speed critical"
	depends on INCLUDE_FFT
	default y


config INCLUDE_WEBRTC_AEC
	bool   "webrtc echo canceller"
	default n

config INCLUDE_WEBRTC_VAD
	bool   "webrtc voice activity detection"
	default n

config WEBRTC_IS_SPEED_CRITICAL
	bool   "webrtc is speed critical"
	depends on INCLUDE_WEBRTC_AEC || INCLUDE_WEBRTC_VAD
	default y
endmenu

endif

endmenu
#################### end of DSP menu###############################
	
######## automatically selected configurations #########
config AUTO_INCLUDE_COMMON_DSP
	def_bool  y
	depends on  INCLUDE_COMPRESSOR

config AUTO_COMMON_DSP_IS_SPEED_CRITICAL
	def_bool  y
	depends on COMPRESSOR_IS_SPEED_CRITICAL

config INCLUDE_DSP_MANAGEMENT
	def_bool  y
	depends on  (INCLUDE_BIQUAD_FILTER || INCLUDE_COMPRESSOR || INCLUDE_MIXER   || INCLUDE_I2S_SPLITTER || INCLUDE_I2S_MIXER || INCLUDE_VOICE_3D || INCLUDE_WEBRTC_VAD)
	select INCLUDE_MEMORY_POOL

config DSP_MANAGEMENT_IS_SPEED_CRITICAL
	def_bool  y
	depends on  BIQUAD_FILTER_IS_SPEED_CRITICAL || COMPRESSOR_IS_SPEED_CRITICAL || MIXER_IS_SPEED_CRITICAL ||  I2S_SPLITTER_IS_SPEED_CRITICAL || I2S_MIXER_IS_SPEED_CRITICAL || VOICE_3D_IS_SPEED_CRITICAL 


######## end of automatically selected configurations #########	