#

menuconfig INCLUDE_DSP
	bool   "digital signal processing (DSP)"
	default n

if INCLUDE_DSP

###################  DSP menu ####################

choice
	prompt "real number format"
	default DSP_REAL_NUMBER_FORMAT_FLOATING_POINT

config DSP_REAL_NUMBER_FORMAT_FLOATING_POINT
	bool "floating point"

config DSP_REAL_NUMBER_FORMAT_FIXED_POINT
	bool "fixed point"

endchoice

config FIXMATH_NO_CACHE
	bool   "disable cache in libfixmath"
	depends on DSP_REAL_NUMBER_FORMAT_FIXED_POINT
	default n

config LIBFIXMATH_GIT_COMMIT_HASH
	string "libfixmath git commit hash"
	depends on DSP_REAL_NUMBER_FORMAT_FIXED_POINT
	default ""

config FIXMATH_NO_OVERFLOW
	bool   "disable overflow detection libfixmath"
	depends on DSP_REAL_NUMBER_FORMAT_FIXED_POINT
	default n

config FIXMATH_NO_ROUNDING
	bool   "disable rounding accuricy in libfixmath"
	depends on DSP_REAL_NUMBER_FORMAT_FIXED_POINT
	default n

config INCLUDE_COMMON_DSP
	bool   "common dsp"
	default n

config DSP_IS_SPEED_CRITICAL
	bool   "dsp is speed critical"
	default y

config INCLUDE_BIQUAD_FILTER
	bool   "biquad_filter"
	default n
	
config INCLUDE_FIR_FILTER
	bool   "fir_filter"
	default n

config INCLUDE_UPSAMPLING_BY_INT
	bool   "upsampling by integer"
	default n

config INCLUDE_DOWNSAMPLING_BY_INT
	bool   "downsampling by integer"
	default n

menuconfig INCLUDE_MIXER
	bool   "mixer"
	default n

if INCLUDE_MIXER
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/dsp/mixer/Kconfig"
endif

menuconfig INCLUDE_MULTIPLIER
	bool   "multiplier"
	default n

if INCLUDE_MULTIPLIER
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/dsp/multiplier/Kconfig"
endif

config INCLUDE_PCM_SPLITTER
	bool   "pcm splitter"
	default n

config INCLUDE_PCM_MIXER
	bool   "pcm mixer"
	default n

config INCLUDE_DPWM_MIXER
	bool   "dpwm mixer"
	default n

config INCLUDE_VOICE_3D
	bool   "voice 3D effect"
	default n

config INCLUDE_DELAY
	bool   "delay"
	default n

config INCLUDE_RMS
	bool   "rms"
	default n

config INCLUDE_TONE_GENERATOR
	bool   "tone generator"
	default n

config INCLUDE_BAND_SPLITTER_BUTTERWORTH_6DB_GAIN
	bool   "band splitter butterworth 6db gain"
	default n


menu "staging"


config INCLUDE_FFMPEG
	bool   "ffmpeg"
	default n


config INCLUDE_FFT
	bool   "fft"
	default n



config INCLUDE_WEBRTC_AEC
	bool   "webrtc echo canceller"
	default n

config INCLUDE_WEBRTC_VAD
	bool   "webrtc voice activity detection"
	default n

endmenu


#################### end of DSP menu###############################

endif
