#

menu "management"

menuconfig INCLUDE_PRINTF
	bool   "printf"
	default n

if INCLUDE_PRINTF
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/management/PRINTF/Kconfig"
endif


config INCLUDE_HTTP
	bool   "http"
	default n

config INCLUDE_LOADED_CONFIG
	bool   "loaded configuration"
	depends on INCLUDE_FAT_FS
	default n

menuconfig INCLUDE_SHELL
	bool   "shell"
	depends on INCLUDE_ASYNC_RX_WRAPPER
	select INCLUDE_PRINTF
	default n
	
if INCLUDE_SHELL
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/management/shell_frontend/Kconfig"
endif


menuconfig INCLUDE_SHELL_PRESETS
	bool   "shell presets"
	default n


#if INCLUDE_SHELL || ARM_SEMIHOSTING_CONFIG_ENABLE_RX

menuconfig INCLUDE_UBOOT_SHELL
	bool   "uboot shell"
	default n

if INCLUDE_UBOOT_SHELL
source "$KCONFIG_PUBLIC_START_DIR/sw_packages/management/u_boot_shell/Kconfig"
endif

#endif
	
	
endmenu


######## automatically selected configurations #########
config INCLUDE_MANAGEMENT
	def_bool  y
	depends on INCLUDE_UBOOT_SHELL || INCLUDE_SHELL || INCLUDE_SHELL_PRESETS

######## end of automatically selected configurations #########	
