menu "`--->  apq8096 board configurations"

choice
	prompt "Board"
	default OPENQ_820_SOM

config OPENQ_820_SOM
	bool "open-Q 820 SOM"

endchoice

if OPENQ_820_SOM
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/HEXAGON/soc/apq8096/Kconfig.openq820som.dt"
endif



endmenu

