#
	
# can be used for release compilations
config DISABLE_DBG_PRINTS
	bool   "disable debug prints"
	depends on INCLUDE_PRINTF
	default n

config USE_MINIMAL_PRINTF
	bool   "use only minimal capabilities"
	default n

config DBG_BUF_SHIFT
	int   "debug buffer size : size = 1 << (2 + DBG_BUF_SHIFT)"
	depends on !DISABLE_DBG_PRINTS && !USE_MINIMAL_PRINTF
	default 8
