#
	
# can be used for release compilations
config DISABLE_DBG_PRINTS
	bool   "disable debug prints"
	depends on INCLUDE_PRINTF
	default n

config USE_MINIMAL_PRINTF
	bool   "use only minimal capabilities"
	default n	
