

choice
	prompt "SOC"
	default APQ8096

config APQ8096
	bool "Snapdragon 820 apq8096"

endchoice


if APQ8096
source "$KCONFIG_START_DIR_PATH/hw_drivers/arch/HEXAGON/soc/apq8096/Kconfig"
endif


config HEXAGON_VERSION_60
    bool
    default n
