#

    	
menu "Platform configurations"

if ARM
source "$COMMON_DIR_PATH/c/hw_drivers/arch/ARM/soc/Kconfig"
endif


if STM8
source "$COMMON_DIR_PATH/c/hw_drivers/arch/STM8/soc/Kconfig"
endif

if PIC32
source "$COMMON_DIR_PATH/c/hw_drivers/arch/PIC32/soc/Kconfig"
endif



menu "memories configuration"

config INTERNAL_ROM
    bool "internal rom"
    depends on POLEG
    default n

config INTERNAL_ROM_START_ADDR
    hex "internal rom start address in hex"
    depends on INTERNAL_ROM
    default 0xffff0000

config INTERNAL_ROM_SIZE
    hex "internal ram size in hex"
    depends on INTERNAL_ROM
    default 0x20000




config INTERNAL_SRAM
    bool
    default n
    
config INTERNAL_SRAM_START_ADDR
    hex "internal sram start address in hex"
    depends on INTERNAL_SRAM
    default DT_SOC_RAM_START_ADDR

config INTERNAL_SRAM_SIZE
    hex "internal ram size in hex"
    depends on INTERNAL_SRAM
    default DT_SOC_RAM_SIZE




config INTERNAL_FLASH
    bool
    default n

config INTERNAL_FLASH_START_ADDR
    hex "internal flash start address in hex"
    depends on INTERNAL_FLASH
    default DT_SOC_FLASH_START_ADDR

config INTERNAL_FLASH_SIZE
    hex "internal flash size in hex"
    depends on INTERNAL_FLASH
    default DT_SOC_FLASH_SIZE



config EXTERNAL_FLASH
    bool "external flash"
    depends on GENERIC || POLEG
    default n

config EXTERNAL_FLASH_START_ADDR
    hex "external flash start address in hex"
    depends on EXTERNAL_FLASH
    default 0x80080000

config EXTERNAL_FLASH_SIZE
    hex "external flash size in hex"
    depends on EXTERNAL_FLASH
    default 0x40000



    
config DDR
    bool "DDR"
    depends on GENERIC || POLEG
    default n

config DDR_START_ADDR
    hex "ddr start address in hex"
    depends on DDR
    default 0x00000000

config DDR_SIZE
    hex "ddr size in hex"
    depends on DDR
    default 0x2000000
 
 
   
choice
	prompt "initial code location"
	default CODE_LOCATION_DDR

config CODE_LOCATION_INTERNAL_ROM
    depends on INTERNAL_ROM
	bool "internal rom"
	
config CODE_LOCATION_INTERNAL_SRAM
    depends on INTERNAL_SRAM
	bool "internal sram"
	
config CODE_LOCATION_INTERNAL_FLASH
    depends on INTERNAL_FLASH
	bool "internal flash"

config CODE_LOCATION_EXTERNAL_FLASH
    depends on EXTERNAL_FLASH
	bool "external flash"

config CODE_LOCATION_DDR
	bool "ddr"
    depends on DDR

endchoice


choice
	prompt "data location"
	default DATA_LOCATION_INTERNAL_SRAM

config DATA_LOCATION_INTERNAL_SRAM
    depends on INTERNAL_SRAM
	bool "internal sram"
	
config DATA_LOCATION_DDR
	bool "ddr"
    depends on DDR

endchoice


config CPU_SPECIFIC_FILES_ARE_SPEAD_CRITICAL
	bool   "put cpu specific files in ram to improve speed"
	default n

endmenu


config EXCEPTION_STACKS_DEBUG
	bool "fill system stacks with pattern (help to debug stack overflow)"
    depends on POLEG || NUC505
    default n


endmenu
