#

    	
menu "Platform configurations"

if ARM
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/ARM/soc/Kconfig"
endif


if STM8
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/STM8/soc/Kconfig"
endif

if PIC32
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/PIC32/soc/Kconfig"
endif


if HEXAGON
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/HEXAGON/soc/Kconfig"
endif

if XTENSA
source "$KCONFIG_PUBLIC_START_DIR/hw_drivers/arch/XTENSA/soc/Kconfig"
endif

config PUBLIC_SOC_SELECTED
    bool
    default n


if !HEXAGON && !ANDROID_NDK && !OUTPUT_TYPE_STATIC_LIBRARY

config PROJECT_IS_BOOTLOADER
    bool "this project is bootloader"
    default n

config BUILD_FOR_USE_WITH_BOOTLOADER
	bool   "build for use with bootloader"
    depends on !PROJECT_IS_BOOTLOADER
	default n


config USE_APPLICATION_SPECIFIC_SCATTER_FILE
	bool "use application specifc scatter file"
    depends on ARM || XTENSA
    default n

if !USE_APPLICATION_SPECIFIC_SCATTER_FILE

choice
	prompt "code location"
	default CODE_LOCATION_INTERNAL_FLASH

config CODE_LOCATION_INTERNAL_FLASH
	bool "internal flash"
	depends on INTERNAL_FLASH_EXISTS

config CODE_LOCATION_EXTERNAL_FLASH
	bool "external flash"
	depends on EXTERNAL_FLASH_EXISTS

config CODE_LOCATION_INTERNAL_SRAM
	bool "internal sram"
	depends on INTERNAL_SRAM_EXISTS

config CODE_LOCATION_DDR
	bool "ddr"
	depends on DDR_EXISTS
endchoice


choice
	prompt "data/bss location"
	default DATA_LOCATION_INTERNAL_SRAM

config DATA_LOCATION_INTERNAL_SRAM
	bool "internal sram"
	depends on INTERNAL_SRAM_EXISTS

config DATA_LOCATION_DDR
	bool "ddr"
	depends on DDR_EXISTS
endchoice


choice
	prompt "speed critical code location"
	default SPEED_CRITICAL_CODE_LOCATION_INTERNAL_SRAM

config SPEED_CRITICAL_CODE_LOCATION_INTERNAL_FLASH
	bool "internal flash"
	depends on INTERNAL_FLASH_EXISTS

config SPEED_CRITICAL_CODE_LOCATION_EXTERNAL_FLASH
	bool "external flash"
	depends on EXTERNAL_FLASH_EXISTS

config SPEED_CRITICAL_CODE_LOCATION_INTERNAL_SRAM
	bool "internal sram"
	depends on INTERNAL_SRAM_EXISTS

config SPEED_CRITICAL_CODE_LOCATION_DDR
	bool "ddr"
	depends on DDR_EXISTS
endchoice

endif #### (if !USE_APPLICATION_SPECIFIC_SCATTER_FILE)


config EXCEPTION_STACKS_DEBUG
	bool "fill system stacks with pattern (help to debug stack overflow)"
    depends on CORTEX_A9 || CORTEX_M3 || CORTEX_M4
    default n


endif #### (if !HEXAGON && !ANDROID_NDK && !OUTPUT_TYPE_STATIC_LIBRARY)


# following configuration will be selected automatically
config INTERNAL_FLASH_EXISTS
    bool
    default n

config EXTERNAL_FLASH_EXISTS
    bool
    default n

config INTERNAL_SRAM_EXISTS
    bool
    default n

config DDR_EXISTS
    bool
    default n
################################

endmenu
