#

menu "application_framework"

menuconfig INCLUDE_JUCE
	bool   "juce"
	depends on HOST
	default n

if INCLUDE_JUCE
source "$KCONFIG_START_DIR_PATH/sw_packages/application_framework/juce/Kconfig"
endif


endmenu
