menu "`---> stm32f103rc euse taobao board"


config CRYSTAL_CLOCK
    int "crystal clock in Hz"
    default 8000000 
    
    
source "$KCONFIG_START_DIR_PATH/hw_drivers/arch/ARM/soc/stm32/stm32f103rc/Kconfig.soc.stm32f103rc.dt"


endmenu


