menu "`--->  stm32f103rc board configurations"

choice
	prompt "Board"
	default EUSE_TAOBAO_BOARD

config EUSE_TAOBAO_BOARD
	bool "euse taobao board"

endchoice

if EUSE_TAOBAO_BOARD
source "$KCONFIG_START_DIR_PATH/hw_drivers/arch/ARM/soc/stm32/stm32f103rc/Kconfig.euse.taobao.dt"
endif



endmenu

=======
config STM32F103RC_BOARD
	def_bool y
	select INTERNAL_SRAM
	select INTERNAL_FLASH
	select CORTEX_M3
