#
	
config INCLUDE_STANDARD_COMPRESSOR
	bool   "standard audio compressor"
	default n

config INCLUDE_STANDARD_COMPRESSOR_WITH_LOG
	bool   "standard audio compressor with log10"
	default n

menuconfig INCLUDE_LOOKAHEAD_COMPRESSOR
	bool   "look ahead audio compressor"
	default n

config COMPRESSOR_DEFAULT_CHUNK_SIZE
	int   "default chunk size"
	depends on INCLUDE_LOOKAHEAD_COMPRESSOR
	default 64

config COMPRESSOR_IS_SPEED_CRITICAL
	bool   "compressor is speed critical"
	depends on INCLUDE_COMPRESSOR
	default y

