menu "clang options"

##### XTENSA  #########
if XTENSA

choice
	prompt "Tools version"
	default CLANG_TOOLS_VER_2017_7

config CLANG_TOOLS_VER_2017_6
	bool "RG-2017.6"

config CLANG_TOOLS_VER_2017_7
	bool "RG-2017.7"

config CLANG_TOOLS_VER_RI_2018_0
	bool "RI-2018.0"

config CLANG_TOOLS_VER_RI_2021_6
	bool "RI-2021.6"

config CLANG_TOOLS_VER_RI_2022_9
	bool "RI-2022.9"

config CLANG_TOOLS_VER_RI_2022_10
	bool "RI-2022.10"

endchoice


endif




choice
	prompt "Optimization Level"
	default CLANG_OPTIMIZE_NONE

config CLANG_OPTIMIZE_NONE
	bool "-O0 : No Optimizations"

config CLANG_OPTIMIZE_SIZE
    bool "-Os : Optimize for size "

config CLANG_OPTIMIZE_SPEED
	bool "-O2 : Optimize for speed "

config CLANG_OPTIMIZE_ULTRA_SPEED
	bool "-O3 : Optimize for ultra-speed but can increase code-size "

endchoice


endmenu
