#
	
config  DMA_I94XXX_NUM_OF_BUFFERS
	int   "number of buffers per dma channel"
	default 5

config  DMA_I94XXX_NUM_OF_PREFFILED_BUFFERS_BEFORE_STARTING
	int   "number of buffers to prefill before starting of dma"
	default 2

