menu "`---> npce586 evaluation board"


config CRYSTAL_CLOCK
    int "crystal clock in Hz"
    default 32000000 
    
    
source "$COMMON_DIR_PATH/c/hw_drivers/arch/ARM/soc/npce586/Kconfig.soc.npce586.dt"


endmenu


