config INCLUDE_ONLY_UBOOT_SHELL_API
	bool   "include only uboot shell api"
	default n
	---help---
		If you dont want to compile the sources but only use API such as
		uboot command macros.
		If now you are creating the library, implementation should exist in
		other library or in base application.
		If now you are creating application, implementation should exist in
		some library.

config SYS_MAXARGS
	int   "maximal number of arguments"
	depends on !INCLUDE_ONLY_UBOOT_SHELL_API
	default 8

menu "common uboot shell commands"

config UBOOT_CMD_GET_VERSION
	bool   "get version"
	depends on INCLUDE_VERSION_MENAGMENT
	default y

config UBOOT_CMD_GET_SERIAL
	bool   "get serial"
	depends on INCLUDE_SERIAL_NUMBER
	default n
	
config UBOOT_CMD_HEAP_TEST
	bool   "heap test"
	default n
	
config UBOOT_CMD_BOARD_IP
	bool   "board ip"
	depends on INCLUDE_ESP8266
	default n
	
config UBOOT_CMD_BOARD_NAME
	bool   "board name"
	default n
	
config UBOOT_CMD_GET_DEV_PARAM
	bool   "get device parameter"
	depends on INCLUDE_DEV_MENAGMENT
	default n
	
config UBOOT_CMD_SET_DEV_PARAM
	bool   "save device parameter"
	depends on INCLUDE_DEV_MENAGMENT
	default n
	
config UBOOT_CMD_PRINTF_DEV
	bool   "manage printf devices"
	depends on INCLUDE_PRINTF
	default n	
	
config UBOOT_CMD_SPI_FORMAT
	bool   "spi flash format"
	depends on INCLUDE_SPI_FLASH_PARTITION_MANAGER
	default n		
							
endmenu

config UBOOT_GIT_COMMIT_HASH
	string "uboot git commit hash"
	default ""
