menu "XCC options"

choice
	prompt "output type"
	default XCC_OUTPUT_TYPE_APPLICATION

config XCC_OUTPUT_TYPE_APPLICATION
	bool "application"

config XCC_OUTPUT_TYPE_DYNAMIC_LIBRARY
	bool "dynamic library"
endchoice


choice
	prompt "Optimization Level"
	default GCC_OPTIMIZE_NONE

config XCC_OPTIMIZE_NONE
	bool "-O0 : No Optimizations"

config XCC_OPTIMISE_WITH_DEBUG
	bool "-Og : Optimizations with debugging support"

config XCC_OPTIMIZE_SIZE
    bool "-Os : Optimize for size "

config XCC_OPTIMIZE_SPEED_SLIGHTLY
	bool "-O1 : Optimize for speed slightly "

config XCC_OPTIMIZE_SPEED
	bool "-O2 : Optimize for speed "

config XCC_OPTIMIZE_ULTRA_SPEED
	bool "-O3 : Optimize for ultra-speed but can increase code-size "

endchoice


endmenu
